<h1> Appointment Details </h1>

<table>
    <tr>
        <th> Staff Member ID </th>
        <td> <%= @appointment.staff_member_id %> </td>
    </tr>
    <tr>
        <th> Patient ID </th>
        <td> <%= @appointment.patient_id %> </td>
    </tr>
    <tr>
        <th> Start Time </th>
        <td> <%= @appointment.start_at %> </td>
    </tr>
    <tr>
        <th> End Time </th>
        <td> <%= @appointment.end_at %> </td>
    </tr>
</table>



